
@{
    ViewBag.Title = "About";
}
<head>
    <link href="~/Content/MyStyles.css" rel="stylesheet" />
</head>

<body class="Body">
    <h2 class="headingText">About</h2>

    <img />
    <div class="AboutBox">
        <p>
            Ray McDougal founded South Fork Design Group in 2006. Since its founding, he has hired five draftsman
            and an office manager. South Fork specializes in structural design and engineering for residential and
            commercial structure. It offers 3D modeling and quality products for home owners and investors alike.
        </p>
    </div>
</body>

