
@{
    ViewBag.Title = "Index";
}
<head>
    <link href="~/Content/MyStyles.css" rel="stylesheet" />
</head>

<body>
    <div class="jumbotron headingText">
        <h1 class="headingText">Welcome to SouthFork</h1>
    </div>
</body>