
@{
    ViewBag.Title = "Login";
}

<head>
    <link href="~/Content/MyStyles.css" rel="stylesheet" />
</head>
<body style="background-image: url('../../Content/Photos/NiceHouse.jpg');  height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;">

    <h2>Login</h2>
    <div class="ChrisDiv">
        <br />
        <label for="User">
            Email Address
        </label>
        <br />
        <input type="text" placeholder="Enter Email" name="User" />
        <br />
        <label for="Pass">
            Password
        </label>
        <br />
        <input type="password" placeholder="Enter Password" name="Pass" />
        <br />
        <br />

    </div>
    <br />
    <br />
    <div id="SignInPos">
        <input type="button" value="Sign In" class="ChrisButton" />
    </div>
</body>

<!---->
