body {
}

.jumbotron {
    background-image: url('Photos/rowan-heuvel-bjej8BY1JYQ-unsplash.jpg');
    background-size: cover;
}

.headingText {
    padding: 10px;
    color: #3c82a6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.AboutHeadingText {
    padding: 10px;
    color: #efefef;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.HeadingBox {
    background-color: #efefef;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;
}

.SignInButton {
    position: relative;
    width: 167px;
    height: 64px;
    left: 1000px;
    top: 464px;
    background: #3C82A6;
    border-radius: 20px;
}
.SignInBox {
    position: absolute;
    width: 623px;
    height: 285px;
    left: 772px;
    top: 127px;
}

.Rectangle1 {
    position: absolute;
    width: 1440px;
    height: 75px;
    left: 0px;
    top: 0px;
    background: #3c82a6;
}

.Banner {
    position: absolute;
    width: 460px;
    height: 64px;
    left: 0px;
    top: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #3C82A6;
}

.SignInTextBox {
    position: absolute;
    width: 143px;
    height: 27px;
    left: 1222px;
    top: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #3C82A6;
}

.Ellipse1 {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1365px;
    top: 7px;
}

.Body {
    background-color: #3c82a6;
}

.AboutBox {
    background-color: #efefef;
    position: absolute;
    top: 20%;
    right: 10%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;
    
}

.AboutText {
    padding: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

.AboutImage {
    position: relative;
    left: 0%;
    top: 0%;
    width: 45%;
}

.Footer {
    position: absolute;
    bottom: 3%;
}

.IndexBody {
    background-image: url('Photos/rowan-heuvel-bjej8BY1JYQ-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.IndexText {
    padding: 75px;
    color: #3c82a6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}